<%= render("digest_rails/shared/navbar") %>

<div class="container">
  <%= render("digest_rails/shared/alerts") %>
  <%= render("digest_rails/shared/page_header") %>
  <%= render("digest_rails/shared/tabs") %>
  <%= render("digest_rails/shared/tabs_content") %>
  <%= render("digest_rails/shared/footer") %>
  <br/>
</div>

<% parent_layout "digest_rails/page/base" %>