<!DOCTYPE html>
<html>
<head>
  <%= stylesheet_link_tag("digest-rails/application", "data-turbolinks-track" => true) %>
  <%= javascript_include_tag("digest-rails/application", "data-turbolinks-track" => true) %>

  <%= yield(:head) %>

  <meta charset="utf8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <%= csrf_meta_tags %>

  <title>
    <%= @title %>
  </title>

  <style>
      <%= yield(:style) %>
  </style>

</head>

<body>

<%= yield %>
<% content_for :javascript do %>
    <% @digests.each_index do |i| %>
        <% digest =  @digests[i] %>
        $( open_digest_<%= i  %> ).click(function( event ) {
        window.location = "<%= digest.key.underscore %>"
        });
        <% end %>
<% end %>

<%= javascript_tag do %>
    $(function() {
        <%= yield :javascript %>
    });
<% end %>

<script>

</script>

</body>
</html>