<%= render("digest-rails/shared/navbar") %>

<div class="container">
  <%= render("digest-rails/shared/alerts") %>
  <%= render("digest-rails/shared/page_header") %>
  <%= render("digest-rails/shared/tabs") %>
  <%= render("digest-rails/shared/tabs_content") %>
  <%= render("digest-rails/shared/footer") %>
  <br/>
</div>

<% parent_layout "digest-rails/base" %>