<!DOCTYPE html>
<html>
<head>
  <%= stylesheet_link_tag("digest-rails/application", "data-turbolinks-track" => true) %>
  <%= javascript_include_tag("digest-rails/application", "data-turbolinks-track" => true) %>

  <%= yield(:head) %>

  <meta charset="utf8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <%= csrf_meta_tags %>

  <title>
    <%= @title %>
  </title>

</head>
<body>
<%= yield %>

<%= javascript_tag do %>
    <% yield :digest_pane_javascript %>
<% end %>

</body>
</html>